body {
  min-width: $body-min-width;

  @include media('<desktop') {
    background-color: $brand-white;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.nav-active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title {
  color: $headings-color;
  display: block;
  margin: 0 0 14px;

  .scrollable & {
    margin-left: 5px;
  }
}

.form-control {
  box-shadow: none;
  padding: 10px 12px 8px;

  &:focus {
    box-shadow: none;
    border-color: $input-border;
  }
}

.btn {
  line-height: 1.5;
  white-space: normal;
  padding-top: 7px;
  padding-bottom: 6px;

  &.has-shadow {
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.25);
  }

  &:active,
  &.active {
    box-shadow: none;
  }

  .panel-heading & {
    // padding: 5px 9px 6px;
  }

  &.btn-search {
    @include size(29px, 29px);
    padding: 6px 3px 2px;
  }

  .buttons-row & {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn-circle {
  @include size(34px, 34px);
  border-radius: 50%;
  padding: 5.5px 3px 5px;
  border: 2px solid transparent;
  background: $brand-white;

  &.btn-success {
    border-color: $brand-success;
    color: $brand-success;

    &:focus {
      background-color: $brand-white;
      outline: none;
    }

    &:hover,
    &.btn-checked,
    &.active {
      background-color: $brand-success;
      color: $brand-white;
      outline: none;

      &:focus {
        border-color: $brand-success;
      }
    }
  }

  &.btn-danger {
    border-color: $brand-danger;
    color: $brand-danger;

    &:hover,
    &.btn-checked,
    &.active {
      background-color: $brand-danger;
      color: $brand-white;
    }

    &:focus {
      color: $brand-white;
      background-color: $brand-danger;
    }
  }
}

.btn-warning {
  border-color: #dd631d;
}

.btn-default {
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: #f7f7f7;
  }
}

.btn-lg {
  font-size: inherit;
}

.btn-sm {
  font-size: inherit;
  padding: 5px 9px 6px;
}

.btn-plus {
  $color: #9ba2a7;

  border-color: $color;
  color: $color;
  font-size: 21px;
  line-height: 1;
  padding: 2px 4px;
  min-width: 27px;
}

.btn-dots {
  height: 32px;
  padding: 0 0 0 7px;

  .panel-heading & {
    margin-left: 6px;
  }
}

.btn-calendar {
  padding: 5px 6px 4px;
  line-height: 1;

  &:hover,
  &:focus {
    background: none;
    fill: $brand-black;
  }

  .form-group & {
    border: none;
    padding: 0;
  }
}

.buttons-row {
  .btn + .btn {
    margin-left: 1px;
  }
}

.panel-default {
  .badge {
    &.badge-transparent {
      background: none;
      color: inherit;
      font-weight: 400;
    }
  }
  @include media('>=desktop') {
    border-color: rgba(125, 131, 133, 0.3);
    @include border-radius(4px);
  }
  @include media('<=tablet') {
    border-color: transparent;
  }
}

.panel-title {
  color: $alt-text-color;
}

.table {
  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td,
  > tfoot > tr > th,
  > tfoot > tr > td {
    vertical-align: middle;
  }

  > thead > tr > th {
    border-bottom-width: 1px;
    text-align: center;
  }

  > tbody > tr > td {
    padding: 7px 5px 6px;
  }

  th {
    color: $alt-text-color;
    font-weight: 500;
  }

  tr:last-child {
    td {
      border-bottom: 1px solid $table-border-color;
    }
  }

  td {
    &:last-child {
      padding-right: 0;
    }
  }
}

/* main container styles */
.container-fluid {
  &.same-height-holder {
    @include media('<=desktop') {
      padding-left: 57px;
      padding-right: 57px;
    }
    @include media('<=tablet') {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;

  .tasks-page & {
    @include media('>=desktop') {
      min-height: 140vh;
    }
  }
  @include media('<=desktop') {
    background: #f0f0f0;
  }
  @include media('<=tablet') {
    background: #fff;
  }
}

.w1 {
  @extend %clearfix;
  max-width: 1416px;
  margin: 0 auto;

  @include media('>=tablet') {
    padding: 0 5px;
    max-width: 1426px;
  }
}

.same-height-holder {
  .same-height {
    @include media('<desktop') {
      height: auto !important;
      min-height: 0 !important;
    }
  }
}

.users-block-container {
  .image-holder.opener-popup {
    @include size(32px, 32px);
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }

    .img-first {
      width: 86%;
      left: -4px;
      z-index: 3;
    }

    .img-second {
      width: 68%;
      left: auto;
      right: -5px;
      z-index: 2;
      top: auto;
      bottom: -2px;
    }

    .img-third {
      width: 68%;
      left: auto;
      right: -5px;
      z-index: 1;
      top: -3px;
    }
  }
}

.users-block {
  p {
    margin: 0 0 1px;
  }

  ul > li {
    margin: 0 0 11px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $text-color;

    &:hover {
      color: $brand-black;
    }
  }

  .name,
  .meta {
    display: block;
  }

  .name {
    font-size: 14px;
    color: $brand-black;
    margin: 0 0 2px;
  }

  &.notification-menu {
    .name {
      color: $alt-text-color;
      font-weight: 500;
    }
  }

  .meta {
    font-size: 12px;
  }

  .alert {
    border-radius: 0;
    border-width: 1px 0;
    border-color: $alert-alt-border;
    color: $brand-black;
  }

  .title {
    .content & {
      font-size: 14px;
    }
  }

  .panel-row {
    padding: 3px 0 4px;

    &:hover {
      background: $hover-bg;

      .btn {
        display: inline-block;
      }

      .btn-success {
        &.active {
          background-color: $brand-white;
          border-color: $brand-danger;
          color: $brand-danger;

          .visible-on-hover {
            @include align(baseline);
          }

          .hidden-on-hover {
            display: none;
          }
        }
      }
    }
  }

  .panel.panel-default {
    .panel-heading {
      padding: 15px 15px 14px;

      &:after {
        left: 15px;
        right: 15px;
      }
    }

    .panel-body {
      padding: 9px 15px;
    }
  }

  .btn {
    display: none;

    #header & {
      display: block;
    }

    .visible-on-hover {
      display: none;
    }
  }

  .btn-holder,
  .btn-bottom {
    > .btn {
      // display: inline-block;
    }
  }

  .active .btn {
    display: inline-block;
  }
}

.panel-row {
  @extend %clearfix;
  margin-left: -10px;
  margin-right: -10px;

  .dropdown-menu & {
    margin-bottom: 5px;
  }

  .img-holder {
    padding-right: 8px;
    padding-left: 11px;
    // max-width: 58px;
    max-width: 59px;
  }

  .text-block {
    padding: 0;
    line-height: 1.2;

    &.users-block {
      padding-left: 10px;

      @include media('>=desktop') {
        padding-left: 20px;

        .task-box & {
          padding-left: 5px;
        }
      }
    }
  }

  .column.btn-holder,
  .btn-holder {
    float: right;
    text-align: right;
    padding: 1px 9px 0 5px;
  }
}

.btn-holder {
  .radio,
  .checkbox {
    margin: 0;

    .task-box & {
      margin: -3px -1px 0 0;
    }

    label {
      line-height: 1;
    }
  }
}

/* main informative part styles */
#main {
  padding: 14px 0;
  min-height: calc(100vh - 60px - 30px);

  @include media('>=desktop') {
    padding: 32px 0;
    min-height: calc(100vh - 80px - 70px);
  }

  .nav-active & {
    position: relative;

    &:after {
      @include absolute;
      z-index: 99;
      content: "";
      background: rgba($header-bg-color, 0.7);
    }
  }
}

.modal .modal-header,
.panel .panel-heading {
  &:after {
    content: "";
    height: 1px;
    background: $panel-heading-border;
    position: absolute;
    bottom: 0;
    left: 29px;
    right: 29px;

    @include media('>=widescreen') {

      .popup-help &,
      .popup-tooltip & {
        left: 0;
        right: 0;
      }
    }
  }
}

.panel {
  box-shadow: none;
  position: relative;

  &.no-bottom-indent {
    margin-bottom: 0;
  }

  .panel {
    margin-bottom: 9px;

    .panel-heading,
    .panel-body {
      padding-left: 10px;
      padding-right: 10px;
    }

    .panel-heading {
      @include media('>=widescreen') {
        padding-top: 15px;
        padding-bottom: 12px;
      }

      &:after {
        left: 0;
        right: 0;
      }
    }

    .panel-body {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &.task-box {
      .panel-body {
        padding: 9px 9px 6px;
      }
    }
  }

  .panel-heading {
    border-bottom: none;
    position: relative;

    &.bg-gray {
      background: $body-bg;
    }

    .popup-tooltip & {
      position: relative;
      z-index: 4;

      @include media('>=widescreen') {
        padding-top: 8px;
        padding-bottom: 6px;
      }
    }

    @include media('>=widescreen') {
      padding-top: 22px;
      padding-bottom: 9px;

      .popup-tooltip .popup &,
      .popup-help & {
        padding: 6px 36px 7px 14px;
      }
    }
    @include media('>=desktop') {
      padding-left: 30px;
      padding-right: 30px;
    }

    .popup &,
    .popup-help & {
      padding-right: 36px !important;
    }

    .btn {
      // margin-top: 2px;
    }
  }

  &.tasks-list {
    .btn {
      margin-top: 0;
    }
  }

  .panel-heading,
  .panel-body,
  .panel-footer {
    @include media('>=widescreen') {
      padding-left: 29px;
      padding-right: 29px;

      .popup-tooltip .popup &,
      .popup-help & {
        padding-left: 10px;
        padding-right: 10px;
      }

      .timeline-item & {
        padding-left: 24px;
        padding-right: 20px;
      }
    }
  }

  .panel-body {
    @include media('>=widescreen') {
      padding-top: 30px;
      padding-bottom: 20px;

      .popup &,
      .popup-help & {
        padding-top: 11px;
        padding-bottom: 6px;
      }
    }

    .popup-tooltip & {
      position: relative;
      z-index: 3;
    }
  }

  .panel-footer {
    padding-top: 20px;
    padding-bottom: 10px;

    .timeline-item & {
      padding-top: 8px;
      padding-bottom: 7px;
    }

    .btn-holder {
      margin-top: -1px;
    }
  }

  .arrow {
    position: absolute;
    transform: translate(0, -50%);
    top: -5px;
    left: 50%;

    @include media('>=widescreen') {
      top: -6px;
    }
  }
}

.panel-heading {
  h1, h2, h3, h4,
  .h1, .h2, .h3, .h4 {
    margin: 0 0 1px;
  }

  p {
    margin-bottom: 0;
  }

  .buttons-holder {
    margin: 3px 0 0;
    padding-right: 13px;
  }

  .img-block {
    max-width: 54px;
    padding-right: 5px;
    padding-top: 4px;
  }

  .heading-block {
    @include media('>=desktop') {
      padding-left: 4px;
    }
  }
}

.panel-footer {
  &.alert-success {
    background-color: $state-success-bg;
  }

  &.alert-danger {
    background-color: $state-danger-bg;
  }
}

.no-panel-mobile {
  @include media('<desktop') {
    &.panel {
      //      border: none;
    }

    > .panel-heading {
      @include media('<desktop') {
        padding: 15px 30px 10px;
      }
    }

    > .panel-body {
      @include media('<desktop') {
        padding: 29px 29px 0;
      }
      @include media('<=xs-phone') {
        padding: 29px 15px 0;
      }
    }

  }
  .panel-heading {
    @include media('<=xs-phone') {
      padding-top: 0;
      padding-left: 15px;
      padding-right: 15px;
      &:after {
        left: 15px;
        right: 15px;
      }
    }
  }
}

.popover {
  border: none;
  box-shadow: 0 0 1px $popover-shadow-color;
  display: block !important;

  h3,
  .popover-title {
    font-weight: 500;
  }
}

.items-holder {
  letter-spacing: -5px;
  font-size: 0.927em;

  .app-item {
    > * {
      letter-spacing: 0;
    }
  }
}

.app-item {
  text-align: center;
  max-width: 33.33%;
  color: $app-title-color;
  padding: 0 0 20px;
  white-space: nowrap;
  position: relative;
  margin-bottom: 15px;

  @include media('<=desktop') {
    width: 14.28%;
  }
  @include media('<=tablet') {
    width: 20%;
  }

  @include media('<=600px') {
    width: 25%;
    margin: 0 0 15px;
  }
  @include media('<=xs-phone') {
    width: 33.33%;
    margin: 0 0 15px;
  }
  @include media('>=widescreen') {
    width: 14.28%;
    margin-bottom: 29px;
  }

  a {
    color: $app-title-color;

    &:hover {
      img {
        opacity: 0.8;
      }
    }
  }

  .item-img {
    margin: 0 auto 4px;
    width: 70px;
  }

  img {
    vertical-align: top;
  }

  span {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
  }

  .row & {
    @include align(top);
    float: none;
  }
}

.img-thumbnail {
  border: none;
  box-shadow: 0 0 1px $thumbnail-border;
}

.timeline-holder {
  position: relative;

  &:before {
    content: "";
    width: 1px;
    background: $base-border-color;
    position: absolute;
    top: 1px;
    bottom: 23px;
    left: 20px;

    .popup-help-active & {
      opacity: 0.2;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.timeline-item {
  &:last-child {
    .panel {
      margin-bottom: 0;
    }
  }

  p {
    margin-bottom: 8px;
  }

  .timeline-badge {
    width: 72px;
    // padding: 0;
  }

  .timeline-body {
    width: auto;
    overflow: hidden;
    float: none;
  }

  .panel {
    position: relative;

    @include media('>=widescreen') {
      margin-bottom: 29px;
    }

    .arrow {
      position: absolute;
      left: -13px;
      top: 33px;
      left: -15px;
      transform: rotate(-90deg);
      background: none;
    }
  }

  .panel-body {
    padding: 18px 24px 6px;
  }

  .title {
    font-size: 114.29%;
    line-height: 1.375;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .note {
    display: block;
    font-size: 12px;
    line-height: 1.83335;
    text-align: right;
    margin: 0 0 10px;
  }

  .title-info {
    color: $brand-black;
  }

  .img-holder {
    margin: 5px 0 0;
  }
}

.row-inline {
  letter-spacing: -5px;

  .column {
    @include align(middle);
    float: none;

    > * {
      letter-spacing: 0;
    }
  }

  &.align-bottom {
    > .column {
      vertical-align: bottom;
    }
  }
}

.timeline-badge {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  // max-width: 36px;
}

/* modal styles */
.modal {
  line-height: 1.4286;

  p {
    margin: 0 0 16px;
  }

  &.support-modal {
    transition: opacity 0.2s linear;
      .modal-dialog{
        overflow-y: scroll;
      }
    &.fade {
      display: block !important;
      opacity: 0;
      visibility: hidden;

      &.in {
        .modal-open & {
          opacity: 1;
          visibility: visible;
        }

        .modal-dialog {
          .modal-open & {
            right: 0;
          }
        }
      }

      .modal-dialog {
        transform: none;
      }
    }

    .modal-dialog {
      overflow-y:scroll;
      overflow-x: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      min-height: 100vh;
      right: -100%;
      width: 100%;
      max-width: 352px;
      margin: 0;
      transition: all 0.2s linear;

      .modal-open & {
        // right: 0;
      }
    }

    .modal-title {
      margin-bottom: -4px;
    }

    .modal-content {
      border-radius: 0;
      // height: 100%;
      min-height: 100vh;
    }
  }

  .modal-header,
  .modal-body {
    @include media('>=widescreen') {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .modal-header {
    position: relative;
    border-bottom: none;
    padding-right: 40px;

    @include media('>=widescreen') {
      padding-top: 19px;
      padding-bottom: 16px;
      padding-right: 70px;
    }

    &:after {
      left: 15px;
      right: 15px;

      @include media('>=widescreen') {
        left: 23px;
        right: 23px;
      }
    }

    p {
      margin: 0;
    }

    .close {
      border: 1px solid $nav-color;
      box-shadow: none;
      width: 32px;
      height: 32px;

      @include media('>=widescreen') {
        width: 36px;
        height: 36px;
        right: 25px;
      }

      &:before,
      &:after {
        background: $nav-color;
      }
    }
  }

  .modal-body {
    padding: 13px 15px;

    @include media('>=widescreen') {
      padding-top: 29px;
    }
  }
}

.modal-body {
  .form-group {
    margin-bottom: 25px;
  }
}

.support-modal {
  .modal-body {
    color: $brand-black;
    padding-bottom: 220px;
    position: relative;
  }

  .media-holder {
    margin: 0 0 25px;
  }

  li > a {
    color: $text-color;
    text-decoration: none;

    .number {
      position: relative;
      text-decoration: none;

      &:before {
//        content: "";
//        width: 4px;
//        height: 1px;
//        background: darken($text-color, 10%);
//        position: absolute;
//        bottom: 4px;
//        right: -3px;
      }
    }

    &:hover {
      text-decoration: none;

      .number {
        text-decoration: none;

        &:before {
          display: none;
        }
      }
    }
  }

  .button-holder {
    // padding: 165px 0 125px;
    position: absolute;
    bottom: 130px;
    left: 15px;
    right: 15px;
  }

  .btn {
    padding-top: 10px;
    padding-bottom: 9px;
  }
}

.modal-special-mobile {
  .modal-dialog {
    margin: 60px 0 0;
    height: 100%;

    @include media('<desktop') {
      width: 100%;
    }
  }

  .modal-content {
    box-sizing: border-box;
    min-height: calc(100% - 60px);
    border-radius: 0;
    padding-bottom: 100px;
    position: relative;

    .btn-bottom {
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 21px;
    }

    .btn-block {
      // width: auto;
    }
  }

  .modal-header {
    padding-right: 50px;
  }

  .btn-lg {
    padding-top: 16px;
    padding-bottom: 15px;
    border-radius: $border-radius-base;
  }

  .button-block {
    position: static;

    .close {
      right: 15px;
    }
  }
}

.custom-numeric-list {
  @extend %listreset;
  counter-reset: item;
  padding: 0 0 5px;

  li {
    margin: 0 0 18px;
    position: relative;

    .number {
      @include align(baseline);
      color: #eb6b22;
      margin: 0 2px 0 0;

      &:after {
        content: counters(item, ".") ".";
        counter-increment: item;
      }
    }
  }
}

.switchers-list {
  $color: #c6d4e1;
  position: absolute;
  z-index: 9;
  top: 74px;
  left: -17px;

  li {
    margin: 0 0 3px;

    &:first-child {
      .btn {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:last-child {
      .btn {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  a:hover,
  .active {
    .icon {
      fill: $brand-warning;
    }
  }

  .btn {
    border-color: $color;
    line-height: 1;
    padding: 6px 4px 4px;

    @include media('>=widescreen') {
      padding: 9px 9px 6px;
    }

    &:hover {
      background-color: darken($brand-white, 2%);
    }
  }

  .icon {
    @include size(16px, 16px);
    fill: $color;
  }
}

.icon-search {
  @include size(14px, 14px);
  fill: $nav-color;
}

.icon-dots {
  @include size(7px, 27px);
  fill: $nav-color;
}

.results-list {
  color: $alt-link-color;
  margin-bottom: 0;

  @include media('>=tablet') {
    color: $brand-warning;
  }

  li {
    padding-left: 0;
    padding-right: 0;
    border: none;
  }

  a {
    color: $alt-link-color;

    @include media('>=tablet') {
      color: $brand-warning;

      &:hover {
        color: lighten($alt-link-color, 20%);
      }
    }

    &:hover {
      color: lighten($alt-link-color, 20%);
    }
  }

  .badge {
    font-size: 14px;
    padding-right: 0;
  }

  .list-group-item {
    padding-top: 14px;
    padding-bottom: 13px;
  }
}

.table-tasks {
  .size01 {
    width: 45px;
  }

  .size02,
  .size04,
  .size05 {
    text-align: left;
    padding-left: 12px;
  }

  .size03 {
    width: 140px;
  }

  .size04 {
    width: 107px;
  }

  .size05 {
    width: 112px;
  }

  .size06 {
    width: 70px;
  }

  .fake-select,
  .form-control {
    width: 100%;
  }

  .form-control {
    @extend .ellipsis;
    height: 30px;
    padding: 3px 4px;
    color: $text-color;

    &.input-control {
      border-color: transparent;

      &:focus {
        border-color: $input-border;
      }

      &:hover {
        cursor: default;
      }
    }
  }

  td {
    > .form-group,
    > .fake-select {
      margin: 0 0 0 -7px;
    }
  }

  td:hover .form-control {
    // border-color: $input-border;
  }

  .add-row {
    display: none;
  }

  &.add-active {
    .add-row {
      display: table-row;

      .form-control.input-control {
        border-color: $input-border;
      }
    }
  }

  .checkbox,
  .radio {
    .fake-input {
      margin-right: 0;
    }
  }
}

.add-row {
  .form-group {
    position: relative;

    .btn {
      border: none;
      padding: 0;
      position: absolute;
      z-index: 2;
      top: 50%;
      right: 6px;
      transform: translate(0, -50%);
    }
  }

  .btn-submit {
    font-size: 12px;
    padding: 5px 9px;
  }

  .form-control {
    height: 30px;
    padding: 3px 4px;
    color: $text-color;

    &.input-control {
      // border-color: transparent;

      &:focus {
        // border-color: $input-border;
      }

      &:hover {
        // cursor: default;
      }
    }
  }

  .icon-calendar {
    @include size(16px, 16px);
    fill: #a8afb8;
  }
}

.add-row-box {
  display: none;

  &.add-active {
    display: block;
  }

  .add-icon,
  .btn-calendar {
    float: left;
    margin: 0 8px 0 0;
  }

  .form-group,
  .fake-select {
    overflow: hidden;
    display: block;
  }

  .add-block {
    @extend %clearfix;
  }

  .pull-right {
    margin-left: 5px;
  }
}

.calendar-holder {
  .form-control {
    padding-right: 22px;
  }
}

.radio-block {
  .btn-group {
    white-space: nowrap;
  }

  .btn {
    @include align(bottom);
    font-size: 12px;
    padding: 0;
    width: 35px;
    position: relative;
    float: none;

    @include media('>=widescreen') {
      width: 39px;
    }

    &:before {
      content: "";
      height: 1px;
      background: $base-border-color;
      position: absolute;
      z-index: 0;
      bottom: 9px;
      left: 0;
      right: 0;
      margin: 0 -10px;
    }

    &:first-child {
      &:before {
        left: 90%;
      }
    }

    &:last-child {
      &:before {
        right: 90%;
      }
    }
  }
}

.filters-block {
  padding-bottom: 11px;

  .num {
    display: block;
    font-size: 28px;
    line-height: 1;
    margin: 0 0 8px;
  }

  .description {
    @include align(top);
    font-size: 10px;
    line-height: 12px;
  }

  .btn {
    color: $brand-black;
    padding: 11px 2px 4px;
    min-height: 82px;
  }

  &.btn-group {
    display: block;
  }

  &[data-toggle="buttons"] .btn input[type="radio"],
  &[data-toggle="buttons"] .btn input[type="checkbox"],
  &[data-toggle="buttons"] .btn-group .btn input[type="radio"],
  &[data-toggle="buttons"] .btn-group .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }
  &.row {
    margin-left: -7px;
    margin-right: -7px;
  }

  .column {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.add-icon {
  @include size(29px, 29px);
  @include align(middle);
  border-radius: 50%;
  border: 1px solid $base-border-color;
  background: $brand-white;
  padding: 5px 2px 0;
  text-align: center;

  &:hover {
    border-color: darken($base-border-color, 25%);

    .icon {
      fill: darken($base-border-color, 25%);
    }
  }

  .icon {
    @include size(13px, 13px);
    @include align(baseline);
    fill: $base-border-color;
  }
}

.panel-search {
  .panel-heading,
  .panel-body {
    padding-left: 15px;
    padding-right: 15px;

    @include media('>=widescreen') {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .panel-heading {
    &:after {
      left: 15px;
      right: 15px;

      @include media('>=widescreen') {
        left: 25px;
        right: 25px;
      }
    }
  }

  .panel-body {
    padding-top: 10px;
    padding-bottom: 10px;

    @include media('>=widescreen') {
      padding-top: 17px;
      padding-bottom: 17px;
    }
  }

  .categories-section {
    > .panel-body {
      padding-top: 5px;
      padding-bottom: 5px;

      @include media('>=widescreen') {
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
  }
}

.tasks-list {
  .panel-body {
    padding-top: 5px;

    @include media('>=desktop') {
      padding-top: 19px;
    }
  }
}

.items-list {
  .item {
    border-bottom: 1px solid $base-border-color;
    padding: 10px 0 9px;
  }

  .panel-row .img-holder {
    max-width: 54px;
  }
}

.column-holder {
  margin: 0 -9px;

  &.same-height-holder {
    .same-height {
      @include media('<widescreen') {
        height: auto !important;
        min-height: 0 !important;
      }
    }
  }

  .column {
    padding-left: 9px;
    padding-right: 9px;
  }
}

.categories-section {
  .list-group-item {
    padding-top: 10px;
    padding-bottom: 9px;
  }
}

.task-box {
  &:hover,
  &:active {
    cursor: default;

    .panel-body {
      border-color: #b0bdc2;
    }
  }

  > .panel-body {
    border: 1px dashed transparent;
  }

  .checkbox,
  .radio {
    .fake-input {
      margin-right: 0;
    }
  }
}

// .height-view {
//   @include media('>=desktop') {
//     height: calc(100vh - 144px);

//     > .panel-body {
//       height: calc(100vh - 144px - 78px);
//       overflow: hidden;
//     }
//   }

//   margin-bottom: 0;
// }

.scrollable {
  @include media('>=desktop') {
    @include scrollable;
  }
}

/* --------------------------------
  4. Styles for responsive breakpoints
----------------------------------*/

@include media('>=desktop') {
  .tel-link {
    cursor: default;
    pointer-events: none;
  }
}

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

/*
Css Your App
*/
.panel-body {
  @include media('>=desktop') {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.row.items-holder {
  margin-left: -3.14%;
  margin-right: -3.14%;

  @include media('>=widescreen') {
    margin-left: -3%;
    margin-right: -3%;
  }
  @include media('<=widescreen') {
    margin-left: -2%;
    margin-right: -2%;
  }
  @include media('<=desktop') {
    margin-left: -3.14%;
    margin-right: -3.14%;
  }
  @include media('<=tablet') {
    margin-left: -6%;
    margin-right: -6%;
  }
  @include media('<=600px') {
    margin-left: -7%;
    margin-right: -7%;
  }
  @include media('<=xs-phone') {
    margin-left: -6%;
    margin-right: -6%;
  }

  .app-item {
    display: block;
    float: left;
  }
}
/*
adjust poupup help step 01

*/
.popup-help{
  .panel-heading{
    padding: 15px !important;
    .title{
      font-size: 14px;
      color: #333;
    }
    &:after{
      left: 15px !important;
      right: 15px !important;
    }
    a.close{
      right: 15px;
    }
  }
  .panel{
    &.panel-default{
      padding-bottom: 15px;
    }
    .panel-body{
      padding-left: 15px;
      padding-right: 15px;
     p{
       font-size: 14px;
       color: #333;
     }
      .btn-container{
        a{
          font-size: 12px;
        }
      }
    }
  }
}
/*
adjust menu in mobile
*/
.popup-help-container {
  .popup-help{
    &.step03{
      top: 32px;
      .arrow.arrow-right{
        top: 20px;
      }
    }

  }
  &.step03 {
    @include media('<=tablet') {
      margin-left: 5px;
      margin-right: 0;
    }

  }
  &.wrap-icon-mobile {
    display: none;
    @include media('<=desktop') {
      display: none;

    }

    @include media('<=tablet') {
      margin-left: 5px;
      margin-right: 0;
      margin-top: -7px;
      display: inline-block;
    }

  }
}

.main-nav {
  .icon-notify {
    display: none;
    @include media('<=tablet'){
        display: inline-block;
    }
  }
  @include media('<=desktop') {
    .step03, .step04, .step05 {
      display: inline-block;
      margin: 0 5px;
    }
    .step03, .step04,.step05{
      margin-top: 8px;
    }
    .step04{
      margin-top: -1px;
    }
    .step06{
      margin-top: -3px;
    }
  }
  @include media('<=tablet'){
    .step05{
      display: none;
    }
    .step03, .step045{
      margin-top: 0;
    }
  }

}

/*
Box search
*/
.navbar-header {
  float: left;
}

.box-search {
  float: left;
  min-width: 350px;
  margin-left: 26px;
  margin-top: -4px;
  position: relative;
  .search-row {
    position: relative;
    input {
      background: transparent;
      border: 1px solid #8d939a;
      @include border-radius('2px');
      @include placeholder {
        color: #8d939a;
      }
      height: 36px;
      padding-left: 33px;
      &:focus {
        color: #8d939a;
      }
    }
    a.icon-search {
      position: absolute;
      left: 10px;
      top: 0;
      display: block;
      width: 25px;
      height: 36px;
      padding: 9px 0 0 0;
      i {
        font-size: 16px;
        color: #8d939a;
      }
    }
  }
  @include media('<=tablet') {
    display: none;
  }
  @include media('<991px'){

    min-width: 30%;
  }
  @include media('<=desktop'){
    margin-top: 0;
  }
}

/*
edit container
*/
.col-md-7.col-left {
  @include media('>=widescreen') {
    width: 66.2%;
  }
  @include media('<=desktop') {
    margin-top: 11px;
  }
  @include media('<=tablet') {
    margin-top: 0;
  }
}

.col-md-5.col-right {
  @include media('>=widescreen') {
    width: 33.8%;
  }
}

.popup-help-container {
  .btn-lg.btn-warning {
    padding: 7px 30px;
    @include border-radius(3px);
    border: none;
  }
}
/*
adjust menu dropdown pane-body

*/
.popup-help-active.step06{
  .dropdown-menu.under-overlay{
    left: 0;
    top: 45px;
  }
  .panel-body {
    padding: 12px 10px;
  }
}

.nav-pills {
  .user-dropdown{
    &.step06{
      .dropdown-menu{
        left: 0;
        .panel-body{
          padding: 10px;
        }
      }
    }
  }
}

/*
Adjust support modal (control panel)
*/

.modal.support-modal{
  .modal-content{
    border: none;
  .modal-header {
    padding-left: 25px;
    padding-right: 25px;
    .close{
      border: 1px solid #cfd7de;
      &:before,&:after{
        width: 20px;
        height: 2px;
        background: #414851;
      }
      &:hover{
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
      }
    }
  }
  .modal-body{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    > p{
      font-size: 14px;
      color:#272727;
    }
    .custom-numeric-list li a{
      text-decoration: none;
    }
  }
  }
}