/* header styles */
#header {
  &.well {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    padding: 26px 25px 4px;

    @include media('<desktop') {
//      padding: 12px 0 5px;
      padding-bottom: 13px;
    }
    @include media('<=tablet'){
      padding: 19px 25px 15px;
    }
    @include media('<=xs-phone'){
        padding: 12px 15px 6px;
      }

  }

  .w1 {
    @include media('<desktop') {
      padding: 0 15px;
    }
  }

  .container {
    width: 100%;

    @include media('>=tablet', '<desktop') {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.well {
  &.well-dark {
    background: $header-bg-color;
  }
}

.well-dark {
  .navbar-default {
    background: $header-bg-color;
    border: none;
  }
}

.container > .navbar-header {
  @include media('>=widescreen') {
    margin-left: -17px;
  }

}

.navbar-right {
  @include media('>=widescreen') {
    margin-right: -22px !important;
  }
}

/* logo styles */
.navbar-brand {
  padding: 0;
  width: 89px;
  height: 37px;
  margin-left: 15px;
  // margin-left: 0 !important;

  @include media('>=desktop') {
    margin-top: -4px;
  }
  @include media('<=xs-phone'){
    margin-left: 0;
  }
  @include media('<=tablet') {
    margin-left: 0;
  }
}
