@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proximanova-bold.eot");
  src: url("../fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold.woff2") format("woff2"), url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.ttf") format("truetype"), url("../fonts/proximanova-bold.svg#proxima_nova_rgbold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proximanova-regular.eot");
  src: url("../fonts/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular.woff2") format("woff2"), url("../fonts/proximanova-regular.woff") format("woff"), url("../fonts/proximanova-regular.ttf") format("truetype"), url("../fonts/proximanova-regular.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proximanova-semibold.eot");
  src: url("../fonts/proximanova-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold.woff2") format("woff2"), url("../fonts/proximanova-semibold.woff") format("woff"), url("../fonts/proximanova-semibold.ttf") format("truetype"), url("../fonts/proximanova-semibold.svg#proxima_novasemibold") format("svg");
  font-weight: 500;
  font-style: normal; }
/* --------------------------------
1. Common site styles
2. Custom form styles
3. Styles for responsive breakpoints
--------------------------------------- */
.custom-numeric-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.clearfix:after, .dropdown-row:after, .w1:after, .panel-row:after, .add-row-box .add-block:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis, .table-tasks .form-control {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

.btn + .btn {
  margin-left: 6px; }

.block-rounded {
  border-radius: 4px;
  overflow: hidden; }

.text-dark {
  color: #414851; }

/* --------------------------------
  2. Common site styles
----------------------------------*/
/* header styles */
#header.well {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  padding: 26px 25px 4px; }
  @media (max-width: 1024px) {
    #header.well {
      padding-bottom: 13px; } }
  @media (max-width: 768px) {
    #header.well {
      padding: 19px 25px 15px; } }
  @media (max-width: 320px) {
    #header.well {
      padding: 12px 15px 6px; } }
@media (max-width: 1024px) {
  #header .w1 {
    padding: 0 15px; } }
#header .container {
  width: 100%; }
@media (min-width: 768px) and (max-width: 1024px) {
  #header .container {
    padding-left: 0;
    padding-right: 0; } }

.well.well-dark {
  background: #272727; }

.well-dark .navbar-default {
  background: #272727;
  border: none; }

@media (min-width: 1200px) {
  .container > .navbar-header {
    margin-left: -17px; } }

@media (min-width: 1200px) {
  .navbar-right {
    margin-right: -22px !important; } }

/* logo styles */
.navbar-brand {
  padding: 0;
  width: 89px;
  height: 37px;
  margin-left: 15px; }
  @media (min-width: 1025px) {
    .navbar-brand {
      margin-top: -4px; } }
  @media (max-width: 320px) {
    .navbar-brand {
      margin-left: 0; } }
  @media (max-width: 768px) {
    .navbar-brand {
      margin-left: 0; } }

/* main navigation styles */
.main-nav-container {
  position: static;
  margin-bottom: 0; }
  @media (min-width: 1025px) {
    .main-nav-container {
      min-height: 50px; } }
  .main-nav-container .navbar-collapse {
    position: absolute;
    top: 0;
    right: 0;
    background: #272727;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
    height: 100vh;
    width: 100%;
    padding-top: 69px;
    padding-bottom: 80px; }
    .main-nav-container .navbar-collapse:after {
      content: "";
      background: #272727;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
      position: absolute;
      top: 100%;
      bottom: -2000px;
      left: 0;
      right: 0; }
    .main-nav-container .navbar-collapse .nav > li > a {
      color: #fff; }
      .main-nav-container .navbar-collapse .nav > li > a:hover {
        color: #919191;
        background: #333333; }
    .main-nav-container .navbar-collapse .navbar-toggle {
      position: absolute;
      top: 11px;
      left: 13px; }
    .main-nav-container .navbar-collapse .user-block {
      position: absolute;
      bottom: 15px;
      left: 38px;
      right: 15px; }

@media (max-width: 1024px) {
  .main-nav {
    position: absolute;
    top: 20px;
    right: 50px; } }
@media (min-width: 1025px) {
  .main-nav {
    margin-top: -1px; } }
@media (max-width: 768px) {
  .main-nav {
    top: 25px;
    right: 20px; } }
@media (max-width: 320px) {
  .main-nav {
    top: 17px;
    right: 0; } }
.main-nav > li {
  display: inline-block;
  vertical-align: middle;
  float: none; }
.main-nav > .dropdown {
  min-height: 37px; }
.main-nav .open > a {
  background: none; }
.main-nav .dropdown-menu {
  margin: 20px 0 0;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  width: 292px; }
  @media (min-width: 1025px) {
    .main-nav .dropdown-menu {
      width: 342px;
      margin-top: 6px; } }
  @media (min-width: 1025px) {
    .main-nav .dropdown-menu.settings-block {
      width: 402px;
      margin-left: -171px; } }
  .main-nav .dropdown-menu.notification-menu {
    margin-left: -21px; }
@media (min-width: 1025px) {
  .main-nav .user-dropdown {
    margin-top: -4px; } }
@media (min-width: 1025px) {
  .main-nav .user-dropdown .dropdown-menu {
    width: 158px;
    margin-left: 33px; } }
.main-nav .app-menu-holder .dropdown-menu {
  margin-left: -83px; }
  @media (min-width: 1025px) {
    .main-nav .app-menu-holder .dropdown-menu {
      margin-left: 39px; } }

.navbar-header .navbar-toggle {
  margin-bottom: 0; }
  .nav-active .navbar-header .navbar-toggle {
    opacity: 0;
    transition: opacity 0.25s linear; }
@media (max-width: 320px) {
  .navbar-header {
    margin: 0; } }

@media (max-width: 1024px) {
  .drop {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 206px;
    z-index: 999;
    transition: all 0.25s linear; }
    .nav-active .drop {
      right: 0; } }

.dropdown-menu {
  box-shadow: 0 0 10px rgba(125, 131, 133, 0.55);
  border-color: #cdd0d1;
  padding: 0; }
  .dropdown-menu.popup .arrow,
  .dropdown-menu .arrow {
    position: absolute;
    top: -11px;
    left: 50%; }
  .dropdown-menu.notification-menu .arrow {
    margin: 0 0 0 12px; }
  .app-menu-holder .dropdown-menu .arrow {
    margin: 0 0 0 74px; }
    @media (min-width: 1025px) {
      .app-menu-holder .dropdown-menu .arrow {
        margin-left: -48px; } }
  .dropdown-menu.settings-block .arrow {
    left: auto;
    right: 21px; }
  .user-dropdown .dropdown-menu .arrow {
    left: auto;
    right: 19px; }
  .dropdown-menu .alert,
  .dropdown-menu .panel {
    margin-bottom: 0;
    border: none; }
  .dropdown-menu .divider {
    margin: 8px 0 4px; }

.navbar .icon {
  width: 24px;
  height: 24px;
  fill: #919191; }
.navbar .icon-grid {
  margin-top: 1px; }
  @media (min-width: 1025px) {
    .navbar .icon-grid {
      margin-top: 0; } }
.navbar .icon-notification {
  width: 22px;
  height: 26px; }
.navbar .popup-active .icon,
.navbar .open .icon,
.navbar a:hover .icon {
  fill: #fff; }
.navbar .nav > li > a {
  color: #919191; }
  .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
    color: #fff;
    background: none; }

.nav-pills > li + li {
  margin-left: 22px; }
  @media (min-width: 1025px) {
    .nav-pills > li + li {
      margin-left: 3px; } }
.nav-pills > li {
  margin: 0 15px; }
  .nav-pills > li > a {
    padding: 0;
    outline: none; }
@media (min-width: 1025px) {
  .nav-pills .user-dropdown {
    margin-left: 19px; } }

.icon-holder {
  display: inline-block;
  vertical-align: top;
  position: relative;
  line-height: 1; }
  @media (min-width: 1025px) {
    .icon-holder {
      margin: 3px 0 -3px;
      min-height: 37px; } }
  .icon-holder .quantity {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -1px;
    right: -16px;
    border-radius: 50%;
    background: #ef6a1e;
    border: 2px solid #272727;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    padding: 4px 0 0;
    text-align: center; }

.menu-list {
  font-size: 12px;
  letter-spacing: -4px;
  padding-bottom: 0; }
  .menu-list .menu-item {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    padding: 0 5px 16px;
    text-align: center; }
    @media (min-width: 1200px) {
      .menu-list .menu-item {
        padding-bottom: 29px; } }
    .menu-list .menu-item > * {
      letter-spacing: 0; }
  .menu-list .btn {
    letter-spacing: 0;
    padding-top: 21px;
    padding-bottom: 21px; }

.menu-item .item-img {
  margin: 0 auto 5px; }
  @media (min-width: 1025px) {
    .menu-item .item-img {
      width: 49px; } }
  @media (min-width: 1200px) {
    .menu-item .item-img {
      margin-bottom: 1px; } }

.menu-item a,
.app-item a {
  display: inline-block;
  vertical-align: top; }
.menu-item img,
.app-item img {
  margin-left: auto;
  margin-right: auto; }

.user-menu .panel .panel-body {
  padding: 5px; }

.popup.settings-block > .panel .panel-body {
  padding: 19px 14px; }

.dropdown-more .dropdown-menu {
  left: auto;
  right: 0; }
.dropdown-more .btn {
  padding-top: 2px;
  padding-bottom: 2px; }

.app-menu {
  border-radius: 4px;
  background: #fff;
  padding: 11px 0 0; }
  .app-menu .opener {
    border: none;
    border-radius: 0 0 4px 4px;
    background-color: #f0f2f2;
    position: relative; }
  .app-menu .active .opener {
    display: none; }
  .app-menu .first-view {
    padding: 0 0 2px; }
    @media (min-width: 1200px) {
      .app-menu .first-view {
        padding: 0;
        margin: 0 0 -5px; } }
  .app-menu .panel {
    height: 402px;
    overflow-y: auto; }
    @media (min-width: 1025px) {
      .app-menu .panel {
        height: 339px; } }
    @media (min-width: 1200px) {
      .app-menu .panel {
        height: 369px; } }
    .app-menu .panel .panel-body {
      padding: 10px 0 0; }

.active .opener .hidden-active {
  display: none; }
.opener .visible-active {
  display: none; }
  .active .opener .visible-active {
    display: block; }

.settings-block {
  font-size: 14px; }
  .settings-block label {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 14px; }

.theme-list {
  line-height: 1.1429;
  margin: -2px 0 0; }
  .theme-list a {
    color: #8d939a;
    display: block;
    border-radius: 3px;
    padding: 10px 5px 9px 7px;
    font-size: 14px; }
    .theme-list a:hover {
      background: #f0f0f0; }
    .theme-list a.active {
      background: #f0f0f0; }
  .theme-list .color,
  .theme-list .description {
    display: inline-block;
    vertical-align: middle; }
  .theme-list .color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #8d939a;
    margin: -1px -15px 0 0; }
  .theme-list .description {
    width: 100%;
    padding: 0 0 0 21px;
    white-space: nowrap; }

.theme-list-holder {
  padding-right: 5px; }

.color.color-default {
  background-color: #ef6a1e; }
.color.color-remax {
  background-color: #a7b6c1; }
.color.color-century91 {
  background-color: #ef4f4f; }
.color.color-minimal {
  background-color: #9fd28b; }
.color.color-summer {
  background-color: #d7dadb; }

.form-in-drop .label-holder,
.form-in-drop .select-holder,
.form-in-drop .input-holder {
  display: inline-block;
  vertical-align: middle; }
.form-in-drop .form-group {
  margin-bottom: 5px; }
.form-in-drop .label-holder {
  width: 85px;
  margin: 0 -90px 0 0;
  position: relative;
  z-index: 2; }
.form-in-drop .input-holder,
.form-in-drop .select-holder {
  padding: 0 0 0 91px;
  width: 100%; }
.form-in-drop .input-holder input {
  width: 100%; }
.form-in-drop .form-control {
  font-size: 13px;
  line-height: 15px;
  height: 28px;
  padding: 6px 8px 5px; }
  .form-in-drop .form-control::-webkit-input-placeholder {
    color: #272727; }
  .form-in-drop .form-control::-moz-placeholder {
    opacity: 1;
    color: #272727; }
  .form-in-drop .form-control:-moz-placeholder {
    color: #272727; }
  .form-in-drop .form-control:-ms-input-placeholder {
    color: #272727; }
  .form-in-drop .form-control.placeholder {
    color: #272727; }
.form-in-drop select.form-control {
  padding: 4px; }
.form-in-drop .fake-select {
  width: 100%; }

.user-block,
.user-dropdown {
  line-height: 1.2; }
  .user-block .dropdown-menu a:hover,
  .user-dropdown .dropdown-menu a:hover {
    color: #272727; }
  .user-block .dropdown-menu ul,
  .user-dropdown .dropdown-menu ul {
    margin: -8px -10px; }
    .user-block .dropdown-menu ul a,
    .user-dropdown .dropdown-menu ul a {
      display: block;
      color: #8d939a;
      padding: 12px 13px 10px 36px;
      position: relative; }
      .user-block .dropdown-menu ul a:hover,
      .user-dropdown .dropdown-menu ul a:hover {
        background: #f0f0f0;
        color: #272727;
        text-decoration: none; }
      .user-block .dropdown-menu ul a .icon,
      .user-dropdown .dropdown-menu ul a .icon {
        position: absolute;
        top: 50%;
        left: 11px;
        transform: translate(0, -50%); }
  .user-block a:hover .icon,
  .user-dropdown a:hover .icon {
    fill: #ef6a1e; }
  .navbar .user-block .icon, .navbar
  .user-dropdown .icon {
    fill: #8d939a; }
  .user-block .icon,
  .user-dropdown .icon {
    width: 15px;
    height: 16px;
    fill: #8d939a; }
    .user-block .icon.icon-settings,
    .user-dropdown .icon.icon-settings {
      width: 17px; }
    .user-block .icon.icon-appstore,
    .user-dropdown .icon.icon-appstore {
      width: 15px;
      height: 19px; }
    .user-block .icon.icon-support,
    .user-dropdown .icon.icon-support {
      width: 17px; }
    .user-block .icon.icon-logout,
    .user-dropdown .icon.icon-logout {
      width: 16px;
      height: 16px; }
  .user-block .img-holder,
  .user-block .text-block,
  .user-dropdown .img-holder,
  .user-dropdown .text-block {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: 0 -2px; }
    @media (min-width: 768px) {
      .user-block .img-holder,
      .user-block .text-block,
      .user-dropdown .img-holder,
      .user-dropdown .text-block {
        padding-right: 3px; } }
  .user-block .img-holder,
  .user-dropdown .img-holder {
    padding-right: 0; }
    @media (min-width: 768px) {
      .user-block .img-holder,
      .user-dropdown .img-holder {
        padding-left: 6px; } }
    .navbar-collapse .user-block .img-holder, .navbar-collapse
    .user-dropdown .img-holder {
      padding-left: 0;
      padding-right: 0; }
  @media (min-width: 768px) {
    .user-block .text-block,
    .user-dropdown .text-block {
      padding-left: 9px; } }
  .navbar-collapse .user-block .text-block, .navbar-collapse
  .user-dropdown .text-block {
    padding-left: 4px;
    padding-right: 1px; }
  .user-block .name,
  .user-block .status,
  .user-dropdown .name,
  .user-dropdown .status {
    font-weight: 500; }
    .user-block .name strong,
    .user-block .status strong,
    .user-dropdown .name strong,
    .user-dropdown .status strong {
      font-weight: 500; }
  .user-block .name,
  .user-dropdown .name {
    color: #fff;
    font-size: 16px;
    padding-right: 15px;
    position: relative;
    margin: 0 0 -1px; }
    @media (min-width: 768px) {
      .user-block .name,
      .user-dropdown .name {
        padding-right: 11px; } }
    .user-block .name .caret,
    .user-dropdown .name .caret {
      color: #d0d4d7;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%); }
  .user-block .status,
  .user-dropdown .status {
    font-size: 10px; }

@media (min-width: 768px) {
  .user-dropdown {
    width: 155px; } }

.navbar-toggle {
  padding: 6px;
  margin-top: 0;
  margin-right: 8px; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #919191; }
  .nav-active .navbar-toggle .icon-bar, .navbar-toggle:hover .icon-bar {
    background-color: #fff; }
  .navbar-toggle .icon-bar {
    height: 3px; }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px; }

.dropdown-row .scrollable {
  height: 196px;
  overflow-y: scroll;
  margin: 0 0 0 -5px; }

.arrow {
  width: 18px;
  height: 11px;
  background: url(../images/sprite.png) no-repeat 0 -3px;
  position: relative; }
  .arrow:before, .arrow:after {
    content: "";
    width: 0;
    height: 0;
    border: solid;
    border-width: 0 9px 9px;
    border-color: transparent transparent #cdd0d1;
    position: absolute;
    bottom: 0;
    left: 0; }
    @media (min-width: 768px) {
      .arrow:before, .arrow:after {
        border-width: 0 10px 10px; } }
  .arrow:after {
    width: 16px;
    height: 16px;
    border: none;
    background: #fff;
    transform: rotate(-45deg);
    top: 6px;
    left: 1px; }
    @media (min-width: 768px) {
      .arrow:after {
        width: 17px;
        height: 15px; } }

body {
  min-width: 320px; }
  @media (max-width: 1024px) {
    body {
      background-color: #fff; } }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0; }

a:hover, a:focus {
  text-decoration: none; }

.nav-active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.title {
  color: #272727;
  display: block;
  margin: 0 0 14px; }
  .scrollable .title {
    margin-left: 5px; }

.form-control {
  box-shadow: none;
  padding: 10px 12px 8px; }
  .form-control:focus {
    box-shadow: none;
    border-color: #cfd7de; }

.btn {
  line-height: 1.5;
  white-space: normal;
  padding-top: 7px;
  padding-bottom: 6px; }
  .btn.has-shadow {
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.25); }
  .btn:active, .btn.active {
    box-shadow: none; }
  .btn.btn-search {
    width: 29px;
    height: 29px;
    padding: 6px 3px 2px; }
  .buttons-row .btn {
    padding-left: 20px;
    padding-right: 20px; }

.btn-circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding: 5.5px 3px 5px;
  border: 2px solid transparent;
  background: #fff; }
  .btn-circle.btn-success {
    border-color: #97c758;
    color: #97c758; }
    .btn-circle.btn-success:focus {
      background-color: #fff;
      outline: none; }
    .btn-circle.btn-success:hover, .btn-circle.btn-success.btn-checked, .btn-circle.btn-success.active {
      background-color: #97c758;
      color: #fff;
      outline: none; }
      .btn-circle.btn-success:hover:focus, .btn-circle.btn-success.btn-checked:focus, .btn-circle.btn-success.active:focus {
        border-color: #97c758; }
  .btn-circle.btn-danger {
    border-color: #f34e33;
    color: #f34e33; }
    .btn-circle.btn-danger:hover, .btn-circle.btn-danger.btn-checked, .btn-circle.btn-danger.active {
      background-color: #f34e33;
      color: #fff; }
    .btn-circle.btn-danger:focus {
      color: #fff;
      background-color: #f34e33; }

.btn-warning {
  border-color: #dd631d; }

.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-color: #f7f7f7; }

.btn-lg {
  font-size: inherit; }

.btn-sm {
  font-size: inherit;
  padding: 5px 9px 6px; }

.btn-plus {
  border-color: #9ba2a7;
  color: #9ba2a7;
  font-size: 21px;
  line-height: 1;
  padding: 2px 4px;
  min-width: 27px; }

.btn-dots {
  height: 32px;
  padding: 0 0 0 7px; }
  .panel-heading .btn-dots {
    margin-left: 6px; }

.btn-calendar {
  padding: 5px 6px 4px;
  line-height: 1; }
  .btn-calendar:hover, .btn-calendar:focus {
    background: none;
    fill: #272727; }
  .form-group .btn-calendar {
    border: none;
    padding: 0; }

.buttons-row .btn + .btn {
  margin-left: 1px; }

.panel-default .badge.badge-transparent {
  background: none;
  color: inherit;
  font-weight: 400; }
@media (min-width: 1025px) {
  .panel-default {
    border-color: rgba(125, 131, 133, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; } }
@media (max-width: 768px) {
  .panel-default {
    border-color: transparent; } }

.panel-title {
  color: #414851; }

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  vertical-align: middle; }
.table > thead > tr > th {
  border-bottom-width: 1px;
  text-align: center; }
.table > tbody > tr > td {
  padding: 7px 5px 6px; }
.table th {
  color: #414851;
  font-weight: 500; }
.table tr:last-child td {
  border-bottom: 1px solid #d3d6d7; }
.table td:last-child {
  padding-right: 0; }

/* main container styles */
@media (max-width: 1025px) {
  .container-fluid.same-height-holder {
    padding-left: 57px;
    padding-right: 57px; } }
@media (max-width: 768px) {
  .container-fluid.same-height-holder {
    padding-left: 0;
    padding-right: 0; } }

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh; }
  @media (min-width: 1025px) {
    .tasks-page .wrapper {
      min-height: 140vh; } }
  @media (max-width: 1025px) {
    .wrapper {
      background: #f0f0f0; } }
  @media (max-width: 768px) {
    .wrapper {
      background: #fff; } }

.w1 {
  max-width: 1416px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .w1 {
      padding: 0 5px;
      max-width: 1426px; } }

@media (max-width: 1024px) {
  .same-height-holder .same-height {
    height: auto !important;
    min-height: 0 !important; } }

.users-block-container .image-holder.opener-popup {
  width: 32px;
  height: 32px;
  position: relative; }
  .users-block-container .image-holder.opener-popup img {
    position: absolute;
    top: 0;
    left: 0; }
  .users-block-container .image-holder.opener-popup .img-first {
    width: 86%;
    left: -4px;
    z-index: 3; }
  .users-block-container .image-holder.opener-popup .img-second {
    width: 68%;
    left: auto;
    right: -5px;
    z-index: 2;
    top: auto;
    bottom: -2px; }
  .users-block-container .image-holder.opener-popup .img-third {
    width: 68%;
    left: auto;
    right: -5px;
    z-index: 1;
    top: -3px; }

.users-block p {
  margin: 0 0 1px; }
.users-block ul > li {
  margin: 0 0 11px; }
  .users-block ul > li:last-child {
    margin-bottom: 0; }
.users-block a {
  color: #8d939a; }
  .users-block a:hover {
    color: #272727; }
.users-block .name,
.users-block .meta {
  display: block; }
.users-block .name {
  font-size: 14px;
  color: #272727;
  margin: 0 0 2px; }
.users-block.notification-menu .name {
  color: #414851;
  font-weight: 500; }
.users-block .meta {
  font-size: 12px; }
.users-block .alert {
  border-radius: 0;
  border-width: 1px 0;
  border-color: #d3d5d5;
  color: #272727; }
.content .users-block .title {
  font-size: 14px; }
.users-block .panel-row {
  padding: 3px 0 4px; }
  .users-block .panel-row:hover {
    background: #f0f0f0; }
    .users-block .panel-row:hover .btn {
      display: inline-block; }
    .users-block .panel-row:hover .btn-success.active {
      background-color: #fff;
      border-color: #f34e33;
      color: #f34e33; }
      .users-block .panel-row:hover .btn-success.active .visible-on-hover {
        display: inline-block;
        vertical-align: baseline; }
      .users-block .panel-row:hover .btn-success.active .hidden-on-hover {
        display: none; }
.users-block .panel.panel-default .panel-heading {
  padding: 15px 15px 14px; }
  .users-block .panel.panel-default .panel-heading:after {
    left: 15px;
    right: 15px; }
.users-block .panel.panel-default .panel-body {
  padding: 9px 15px; }
.users-block .btn {
  display: none; }
  #header .users-block .btn {
    display: block; }
  .users-block .btn .visible-on-hover {
    display: none; }
.users-block .active .btn {
  display: inline-block; }

.panel-row {
  margin-left: -10px;
  margin-right: -10px; }
  .dropdown-menu .panel-row {
    margin-bottom: 5px; }
  .panel-row .img-holder {
    padding-right: 8px;
    padding-left: 11px;
    max-width: 59px; }
  .panel-row .text-block {
    padding: 0;
    line-height: 1.2; }
    .panel-row .text-block.users-block {
      padding-left: 10px; }
      @media (min-width: 1025px) {
        .panel-row .text-block.users-block {
          padding-left: 20px; }
          .task-box .panel-row .text-block.users-block {
            padding-left: 5px; } }
  .panel-row .column.btn-holder,
  .panel-row .btn-holder {
    float: right;
    text-align: right;
    padding: 1px 9px 0 5px; }

.btn-holder .radio,
.btn-holder .checkbox {
  margin: 0; }
  .task-box .btn-holder .radio, .task-box
  .btn-holder .checkbox {
    margin: -3px -1px 0 0; }
  .btn-holder .radio label,
  .btn-holder .checkbox label {
    line-height: 1; }

/* main informative part styles */
#main {
  padding: 14px 0;
  min-height: calc(100vh - 60px - 30px); }
  @media (min-width: 1025px) {
    #main {
      padding: 32px 0;
      min-height: calc(100vh - 80px - 70px); } }
  .nav-active #main {
    position: relative; }
    .nav-active #main:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99;
      content: "";
      background: rgba(39, 39, 39, 0.7); }

.modal .modal-header:after,
.panel .panel-heading:after {
  content: "";
  height: 1px;
  background: #d3d6d7;
  position: absolute;
  bottom: 0;
  left: 29px;
  right: 29px; }
  @media (min-width: 1200px) {
    .popup-help .modal .modal-header:after, .popup-tooltip .modal .modal-header:after, .popup-help
    .panel .panel-heading:after, .popup-tooltip
    .panel .panel-heading:after {
      left: 0;
      right: 0; } }

.panel {
  box-shadow: none;
  position: relative; }
  .panel.no-bottom-indent {
    margin-bottom: 0; }
  .panel .panel {
    margin-bottom: 9px; }
    .panel .panel .panel-heading,
    .panel .panel .panel-body {
      padding-left: 10px;
      padding-right: 10px; }
    @media (min-width: 1200px) {
      .panel .panel .panel-heading {
        padding-top: 15px;
        padding-bottom: 12px; } }
    .panel .panel .panel-heading:after {
      left: 0;
      right: 0; }
    .panel .panel .panel-body {
      padding-top: 10px;
      padding-bottom: 10px; }
    .panel .panel.task-box .panel-body {
      padding: 9px 9px 6px; }
  .panel .panel-heading {
    border-bottom: none;
    position: relative; }
    .panel .panel-heading.bg-gray {
      background: #f0f0f0; }
    .popup-tooltip .panel .panel-heading {
      position: relative;
      z-index: 4; }
      @media (min-width: 1200px) {
        .popup-tooltip .panel .panel-heading {
          padding-top: 8px;
          padding-bottom: 6px; } }
    @media (min-width: 1200px) {
      .panel .panel-heading {
        padding-top: 22px;
        padding-bottom: 9px; }
        .popup-tooltip .popup .panel .panel-heading, .popup-help .panel .panel-heading {
          padding: 6px 36px 7px 14px; } }
    @media (min-width: 1025px) {
      .panel .panel-heading {
        padding-left: 30px;
        padding-right: 30px; } }
    .popup .panel .panel-heading, .popup-help .panel .panel-heading {
      padding-right: 36px !important; }
  .panel.tasks-list .btn {
    margin-top: 0; }
  @media (min-width: 1200px) {
    .panel .panel-heading,
    .panel .panel-body,
    .panel .panel-footer {
      padding-left: 29px;
      padding-right: 29px; }
      .popup-tooltip .popup .panel .panel-heading, .popup-help .panel .panel-heading, .popup-tooltip .popup
      .panel .panel-body, .popup-help
      .panel .panel-body, .popup-tooltip .popup
      .panel .panel-footer, .popup-help
      .panel .panel-footer {
        padding-left: 10px;
        padding-right: 10px; }
      .timeline-item .panel .panel-heading, .timeline-item
      .panel .panel-body, .timeline-item
      .panel .panel-footer {
        padding-left: 24px;
        padding-right: 20px; } }
  @media (min-width: 1200px) {
    .panel .panel-body {
      padding-top: 30px;
      padding-bottom: 20px; }
      .popup .panel .panel-body, .popup-help .panel .panel-body {
        padding-top: 11px;
        padding-bottom: 6px; } }
  .popup-tooltip .panel .panel-body {
    position: relative;
    z-index: 3; }
  .panel .panel-footer {
    padding-top: 20px;
    padding-bottom: 10px; }
    .timeline-item .panel .panel-footer {
      padding-top: 8px;
      padding-bottom: 7px; }
    .panel .panel-footer .btn-holder {
      margin-top: -1px; }
  .panel .arrow {
    position: absolute;
    transform: translate(0, -50%);
    top: -5px;
    left: 50%; }
    @media (min-width: 1200px) {
      .panel .arrow {
        top: -6px; } }

.panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4,
.panel-heading .h1, .panel-heading .h2, .panel-heading .h3, .panel-heading .h4 {
  margin: 0 0 1px; }
.panel-heading p {
  margin-bottom: 0; }
.panel-heading .buttons-holder {
  margin: 3px 0 0;
  padding-right: 13px; }
.panel-heading .img-block {
  max-width: 54px;
  padding-right: 5px;
  padding-top: 4px; }
@media (min-width: 1025px) {
  .panel-heading .heading-block {
    padding-left: 4px; } }

.panel-footer.alert-success {
  background-color: #e7f1dc; }
.panel-footer.alert-danger {
  background-color: #fad8d3; }

@media (max-width: 1024px) and (max-width: 1024px) {
  .no-panel-mobile > .panel-heading {
    padding: 15px 30px 10px; } }
@media (max-width: 1024px) and (max-width: 1024px) {
  .no-panel-mobile > .panel-body {
    padding: 29px 29px 0; } }
@media (max-width: 1024px) and (max-width: 320px) {
  .no-panel-mobile > .panel-body {
    padding: 29px 15px 0; } }

@media (max-width: 320px) {
  .no-panel-mobile .panel-heading {
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px; }
    .no-panel-mobile .panel-heading:after {
      left: 15px;
      right: 15px; } }

.popover {
  border: none;
  box-shadow: 0 0 1px #7d8385;
  display: block !important; }
  .popover h3,
  .popover .popover-title {
    font-weight: 500; }

.items-holder {
  letter-spacing: -5px;
  font-size: 0.927em; }
  .items-holder .app-item > * {
    letter-spacing: 0; }

.app-item {
  text-align: center;
  max-width: 33.33%;
  color: #354052;
  padding: 0 0 20px;
  white-space: nowrap;
  position: relative;
  margin-bottom: 15px; }
  @media (max-width: 1025px) {
    .app-item {
      width: 14.28%; } }
  @media (max-width: 768px) {
    .app-item {
      width: 20%; } }
  @media (max-width: 600px) {
    .app-item {
      width: 25%;
      margin: 0 0 15px; } }
  @media (max-width: 320px) {
    .app-item {
      width: 33.33%;
      margin: 0 0 15px; } }
  @media (min-width: 1200px) {
    .app-item {
      width: 14.28%;
      margin-bottom: 29px; } }
  .app-item a {
    color: #354052; }
    .app-item a:hover img {
      opacity: 0.8; }
  .app-item .item-img {
    margin: 0 auto 4px;
    width: 70px; }
  .app-item img {
    vertical-align: top; }
  .app-item span {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0); }
  .row .app-item {
    display: inline-block;
    vertical-align: top;
    float: none; }

.img-thumbnail {
  border: none;
  box-shadow: 0 0 1px #7d8385; }

.timeline-holder {
  position: relative; }
  .timeline-holder:before {
    content: "";
    width: 1px;
    background: #d3d6d7;
    position: absolute;
    top: 1px;
    bottom: 23px;
    left: 20px; }
    .popup-help-active .timeline-holder:before {
      opacity: 0.2;
      background-color: rgba(0, 0, 0, 0.5); }

.timeline-item:last-child .panel {
  margin-bottom: 0; }
.timeline-item p {
  margin-bottom: 8px; }
.timeline-item .timeline-badge {
  width: 72px; }
.timeline-item .timeline-body {
  width: auto;
  overflow: hidden;
  float: none; }
.timeline-item .panel {
  position: relative; }
  @media (min-width: 1200px) {
    .timeline-item .panel {
      margin-bottom: 29px; } }
  .timeline-item .panel .arrow {
    position: absolute;
    left: -13px;
    top: 33px;
    left: -15px;
    transform: rotate(-90deg);
    background: none; }
.timeline-item .panel-body {
  padding: 18px 24px 6px; }
.timeline-item .title {
  font-size: 114.29%;
  line-height: 1.375;
  font-weight: 500;
  margin-bottom: 10px; }
.timeline-item .note {
  display: block;
  font-size: 12px;
  line-height: 1.83335;
  text-align: right;
  margin: 0 0 10px; }
.timeline-item .title-info {
  color: #272727; }
.timeline-item .img-holder {
  margin: 5px 0 0; }

.row-inline {
  letter-spacing: -5px; }
  .row-inline .column {
    display: inline-block;
    vertical-align: middle;
    float: none; }
    .row-inline .column > * {
      letter-spacing: 0; }
  .row-inline.align-bottom > .column {
    vertical-align: bottom; }

.timeline-badge {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto; }

/* modal styles */
.modal {
  line-height: 1.4286; }
  .modal p {
    margin: 0 0 16px; }
  .modal.support-modal {
    transition: opacity 0.2s linear; }
    .modal.support-modal .modal-dialog {
      overflow-y: scroll; }
    .modal.support-modal.fade {
      display: block !important;
      opacity: 0;
      visibility: hidden; }
      .modal-open .modal.support-modal.fade.in {
        opacity: 1;
        visibility: visible; }
      .modal-open .modal.support-modal.fade.in .modal-dialog {
        right: 0; }
      .modal.support-modal.fade .modal-dialog {
        transform: none; }
    .modal.support-modal .modal-dialog {
      overflow-y: scroll;
      overflow-x: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      min-height: 100vh;
      right: -100%;
      width: 100%;
      max-width: 352px;
      margin: 0;
      transition: all 0.2s linear; }
    .modal.support-modal .modal-title {
      margin-bottom: -4px; }
    .modal.support-modal .modal-content {
      border-radius: 0;
      min-height: 100vh; }
  @media (min-width: 1200px) {
    .modal .modal-header,
    .modal .modal-body {
      padding-left: 24px;
      padding-right: 24px; } }
  .modal .modal-header {
    position: relative;
    border-bottom: none;
    padding-right: 40px; }
    @media (min-width: 1200px) {
      .modal .modal-header {
        padding-top: 19px;
        padding-bottom: 16px;
        padding-right: 70px; } }
    .modal .modal-header:after {
      left: 15px;
      right: 15px; }
      @media (min-width: 1200px) {
        .modal .modal-header:after {
          left: 23px;
          right: 23px; } }
    .modal .modal-header p {
      margin: 0; }
    .modal .modal-header .close {
      border: 1px solid #919191;
      box-shadow: none;
      width: 32px;
      height: 32px; }
      @media (min-width: 1200px) {
        .modal .modal-header .close {
          width: 36px;
          height: 36px;
          right: 25px; } }
      .modal .modal-header .close:before, .modal .modal-header .close:after {
        background: #919191; }
  .modal .modal-body {
    padding: 13px 15px; }
    @media (min-width: 1200px) {
      .modal .modal-body {
        padding-top: 29px; } }

.modal-body .form-group {
  margin-bottom: 25px; }

.support-modal .modal-body {
  color: #272727;
  padding-bottom: 220px;
  position: relative; }
.support-modal .media-holder {
  margin: 0 0 25px; }
.support-modal li > a {
  color: #8d939a;
  text-decoration: none; }
  .support-modal li > a .number {
    position: relative;
    text-decoration: none; }
  .support-modal li > a:hover {
    text-decoration: none; }
    .support-modal li > a:hover .number {
      text-decoration: none; }
      .support-modal li > a:hover .number:before {
        display: none; }
.support-modal .button-holder {
  position: absolute;
  bottom: 130px;
  left: 15px;
  right: 15px; }
.support-modal .btn {
  padding-top: 10px;
  padding-bottom: 9px; }

.modal-special-mobile .modal-dialog {
  margin: 60px 0 0;
  height: 100%; }
  @media (max-width: 1024px) {
    .modal-special-mobile .modal-dialog {
      width: 100%; } }
.modal-special-mobile .modal-content {
  box-sizing: border-box;
  min-height: calc(100% - 60px);
  border-radius: 0;
  padding-bottom: 100px;
  position: relative; }
  .modal-special-mobile .modal-content .btn-bottom {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 21px; }
.modal-special-mobile .modal-header {
  padding-right: 50px; }
.modal-special-mobile .btn-lg {
  padding-top: 16px;
  padding-bottom: 15px;
  border-radius: 4px; }
.modal-special-mobile .button-block {
  position: static; }
  .modal-special-mobile .button-block .close {
    right: 15px; }

.custom-numeric-list {
  counter-reset: item;
  padding: 0 0 5px; }
  .custom-numeric-list li {
    margin: 0 0 18px;
    position: relative; }
    .custom-numeric-list li .number {
      display: inline-block;
      vertical-align: baseline;
      color: #eb6b22;
      margin: 0 2px 0 0; }
      .custom-numeric-list li .number:after {
        content: counters(item,".") ".";
        counter-increment: item; }

.switchers-list {
  position: absolute;
  z-index: 9;
  top: 74px;
  left: -17px; }
  .switchers-list li {
    margin: 0 0 3px; }
    .switchers-list li:first-child .btn {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    .switchers-list li:last-child .btn {
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
  .switchers-list a:hover .icon,
  .switchers-list .active .icon {
    fill: #ef6a1e; }
  .switchers-list .btn {
    border-color: #c6d4e1;
    line-height: 1;
    padding: 6px 4px 4px; }
    @media (min-width: 1200px) {
      .switchers-list .btn {
        padding: 9px 9px 6px; } }
    .switchers-list .btn:hover {
      background-color: #fafafa; }
  .switchers-list .icon {
    width: 16px;
    height: 16px;
    fill: #c6d4e1; }

.icon-search {
  width: 14px;
  height: 14px;
  fill: #919191; }

.icon-dots {
  width: 7px;
  height: 27px;
  fill: #919191; }

.results-list {
  color: #354052;
  margin-bottom: 0; }
  @media (min-width: 768px) {
    .results-list {
      color: #ef6a1e; } }
  .results-list li {
    padding-left: 0;
    padding-right: 0;
    border: none; }
  .results-list a {
    color: #354052; }
    @media (min-width: 768px) {
      .results-list a {
        color: #ef6a1e; }
        .results-list a:hover {
          color: #5d7090; } }
    .results-list a:hover {
      color: #5d7090; }
  .results-list .badge {
    font-size: 14px;
    padding-right: 0; }
  .results-list .list-group-item {
    padding-top: 14px;
    padding-bottom: 13px; }

.table-tasks .size01 {
  width: 45px; }
.table-tasks .size02,
.table-tasks .size04,
.table-tasks .size05 {
  text-align: left;
  padding-left: 12px; }
.table-tasks .size03 {
  width: 140px; }
.table-tasks .size04 {
  width: 107px; }
.table-tasks .size05 {
  width: 112px; }
.table-tasks .size06 {
  width: 70px; }
.table-tasks .fake-select,
.table-tasks .form-control {
  width: 100%; }
.table-tasks .form-control {
  height: 30px;
  padding: 3px 4px;
  color: #8d939a; }
  .table-tasks .form-control.input-control {
    border-color: transparent; }
    .table-tasks .form-control.input-control:focus {
      border-color: #cfd7de; }
    .table-tasks .form-control.input-control:hover {
      cursor: default; }
.table-tasks td > .form-group,
.table-tasks td > .fake-select {
  margin: 0 0 0 -7px; }
.table-tasks .add-row {
  display: none; }
.table-tasks.add-active .add-row {
  display: table-row; }
  .table-tasks.add-active .add-row .form-control.input-control {
    border-color: #cfd7de; }
.table-tasks .checkbox .fake-input,
.table-tasks .radio .fake-input {
  margin-right: 0; }

.add-row .form-group {
  position: relative; }
  .add-row .form-group .btn {
    border: none;
    padding: 0;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 6px;
    transform: translate(0, -50%); }
.add-row .btn-submit {
  font-size: 12px;
  padding: 5px 9px; }
.add-row .form-control {
  height: 30px;
  padding: 3px 4px;
  color: #8d939a; }
.add-row .icon-calendar {
  width: 16px;
  height: 16px;
  fill: #a8afb8; }

.add-row-box {
  display: none; }
  .add-row-box.add-active {
    display: block; }
  .add-row-box .add-icon,
  .add-row-box .btn-calendar {
    float: left;
    margin: 0 8px 0 0; }
  .add-row-box .form-group,
  .add-row-box .fake-select {
    overflow: hidden;
    display: block; }
  .add-row-box .pull-right {
    margin-left: 5px; }

.calendar-holder .form-control {
  padding-right: 22px; }

.radio-block .btn-group {
  white-space: nowrap; }
.radio-block .btn {
  display: inline-block;
  vertical-align: bottom;
  font-size: 12px;
  padding: 0;
  width: 35px;
  position: relative;
  float: none; }
  @media (min-width: 1200px) {
    .radio-block .btn {
      width: 39px; } }
  .radio-block .btn:before {
    content: "";
    height: 1px;
    background: #d3d6d7;
    position: absolute;
    z-index: 0;
    bottom: 9px;
    left: 0;
    right: 0;
    margin: 0 -10px; }
  .radio-block .btn:first-child:before {
    left: 90%; }
  .radio-block .btn:last-child:before {
    right: 90%; }

.filters-block {
  padding-bottom: 11px; }
  .filters-block .num {
    display: block;
    font-size: 28px;
    line-height: 1;
    margin: 0 0 8px; }
  .filters-block .description {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    line-height: 12px; }
  .filters-block .btn {
    color: #272727;
    padding: 11px 2px 4px;
    min-height: 82px; }
  .filters-block.btn-group {
    display: block; }
  .filters-block[data-toggle="buttons"] .btn input[type="radio"], .filters-block[data-toggle="buttons"] .btn input[type="checkbox"], .filters-block[data-toggle="buttons"] .btn-group .btn input[type="radio"], .filters-block[data-toggle="buttons"] .btn-group .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none; }
  .filters-block.row {
    margin-left: -7px;
    margin-right: -7px; }
  .filters-block .column {
    padding-left: 7px;
    padding-right: 7px; }

.add-icon {
  width: 29px;
  height: 29px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid #d3d6d7;
  background: #fff;
  padding: 5px 2px 0;
  text-align: center; }
  .add-icon:hover {
    border-color: #90989a; }
    .add-icon:hover .icon {
      fill: #90989a; }
  .add-icon .icon {
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: baseline;
    fill: #d3d6d7; }

.panel-search .panel-heading,
.panel-search .panel-body {
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 1200px) {
    .panel-search .panel-heading,
    .panel-search .panel-body {
      padding-left: 25px;
      padding-right: 25px; } }
.panel-search .panel-heading:after {
  left: 15px;
  right: 15px; }
  @media (min-width: 1200px) {
    .panel-search .panel-heading:after {
      left: 25px;
      right: 25px; } }
.panel-search .panel-body {
  padding-top: 10px;
  padding-bottom: 10px; }
  @media (min-width: 1200px) {
    .panel-search .panel-body {
      padding-top: 17px;
      padding-bottom: 17px; } }
.panel-search .categories-section > .panel-body {
  padding-top: 5px;
  padding-bottom: 5px; }
  @media (min-width: 1200px) {
    .panel-search .categories-section > .panel-body {
      padding-top: 2px;
      padding-bottom: 2px; } }

.tasks-list .panel-body {
  padding-top: 5px; }
  @media (min-width: 1025px) {
    .tasks-list .panel-body {
      padding-top: 19px; } }

.items-list .item {
  border-bottom: 1px solid #d3d6d7;
  padding: 10px 0 9px; }
.items-list .panel-row .img-holder {
  max-width: 54px; }

.column-holder {
  margin: 0 -9px; }
  @media (max-width: 1199px) {
    .column-holder.same-height-holder .same-height {
      height: auto !important;
      min-height: 0 !important; } }
  .column-holder .column {
    padding-left: 9px;
    padding-right: 9px; }

.categories-section .list-group-item {
  padding-top: 10px;
  padding-bottom: 9px; }

.task-box:hover, .task-box:active {
  cursor: default; }
  .task-box:hover .panel-body, .task-box:active .panel-body {
    border-color: #b0bdc2; }
.task-box > .panel-body {
  border: 1px dashed transparent; }
.task-box .checkbox .fake-input,
.task-box .radio .fake-input {
  margin-right: 0; }

@media (min-width: 1025px) {
  .scrollable {
    overflow-y: auto;
    overflow-x: hidden; } }

/* --------------------------------
  4. Styles for responsive breakpoints
----------------------------------*/
@media (min-width: 1025px) {
  .tel-link {
    cursor: default;
    pointer-events: none; } }
@-moz-document url-prefix() {
  fieldset {
    display: table-cell; } }
/*
Css Your App
*/
@media (min-width: 1025px) {
  .panel-body {
    padding-left: 30px;
    padding-right: 30px; } }

.row.items-holder {
  margin-left: -3.14%;
  margin-right: -3.14%; }
  @media (min-width: 1200px) {
    .row.items-holder {
      margin-left: -3%;
      margin-right: -3%; } }
  @media (max-width: 1200px) {
    .row.items-holder {
      margin-left: -2%;
      margin-right: -2%; } }
  @media (max-width: 1025px) {
    .row.items-holder {
      margin-left: -3.14%;
      margin-right: -3.14%; } }
  @media (max-width: 768px) {
    .row.items-holder {
      margin-left: -6%;
      margin-right: -6%; } }
  @media (max-width: 600px) {
    .row.items-holder {
      margin-left: -7%;
      margin-right: -7%; } }
  @media (max-width: 320px) {
    .row.items-holder {
      margin-left: -6%;
      margin-right: -6%; } }
  .row.items-holder .app-item {
    display: block;
    float: left; }

/*
adjust poupup help step 01

*/
.popup-help .panel-heading {
  padding: 15px !important; }
  .popup-help .panel-heading .title {
    font-size: 14px;
    color: #333; }
  .popup-help .panel-heading:after {
    left: 15px !important;
    right: 15px !important; }
  .popup-help .panel-heading a.close {
    right: 15px; }
.popup-help .panel.panel-default {
  padding-bottom: 15px; }
.popup-help .panel .panel-body {
  padding-left: 15px;
  padding-right: 15px; }
  .popup-help .panel .panel-body p {
    font-size: 14px;
    color: #333; }
  .popup-help .panel .panel-body .btn-container a {
    font-size: 12px; }

/*
adjust menu in mobile
*/
.popup-help-container .popup-help.step03 {
  top: 32px; }
  .popup-help-container .popup-help.step03 .arrow.arrow-right {
    top: 20px; }
@media (max-width: 768px) {
  .popup-help-container.step03 {
    margin-left: 5px;
    margin-right: 0; } }
.popup-help-container.wrap-icon-mobile {
  display: none; }
  @media (max-width: 1025px) {
    .popup-help-container.wrap-icon-mobile {
      display: none; } }
  @media (max-width: 768px) {
    .popup-help-container.wrap-icon-mobile {
      margin-left: 5px;
      margin-right: 0;
      margin-top: -7px;
      display: inline-block; } }

.main-nav .icon-notify {
  display: none; }
  @media (max-width: 768px) {
    .main-nav .icon-notify {
      display: inline-block; } }
@media (max-width: 1025px) {
  .main-nav .step03, .main-nav .step04, .main-nav .step05 {
    display: inline-block;
    margin: 0 5px; }
  .main-nav .step03, .main-nav .step04, .main-nav .step05 {
    margin-top: 8px; }
  .main-nav .step04 {
    margin-top: -1px; }
  .main-nav .step06 {
    margin-top: -3px; } }
@media (max-width: 768px) {
  .main-nav .step05 {
    display: none; }
  .main-nav .step03, .main-nav .step045 {
    margin-top: 0; } }

/*
Box search
*/
.navbar-header {
  float: left; }

.box-search {
  float: left;
  min-width: 350px;
  margin-left: 26px;
  margin-top: -4px;
  position: relative; }
  .box-search .search-row {
    position: relative; }
    .box-search .search-row input {
      background: transparent;
      border: 1px solid #8d939a;
      -webkit-border-radius: "2px";
      -moz-border-radius: "2px";
      -ms-border-radius: "2px";
      border-radius: "2px";
      height: 36px;
      padding-left: 33px; }
      .box-search .search-row input::-webkit-input-placeholder {
        color: #8d939a; }
      .box-search .search-row input::-moz-placeholder {
        opacity: 1;
        color: #8d939a; }
      .box-search .search-row input:-moz-placeholder {
        color: #8d939a; }
      .box-search .search-row input:-ms-input-placeholder {
        color: #8d939a; }
      .box-search .search-row input.placeholder {
        color: #8d939a; }
      .box-search .search-row input:focus {
        color: #8d939a; }
    .box-search .search-row a.icon-search {
      position: absolute;
      left: 10px;
      top: 0;
      display: block;
      width: 25px;
      height: 36px;
      padding: 9px 0 0 0; }
      .box-search .search-row a.icon-search i {
        font-size: 16px;
        color: #8d939a; }
  @media (max-width: 768px) {
    .box-search {
      display: none; } }
  @media (max-width: 990px) {
    .box-search {
      min-width: 30%; } }
  @media (max-width: 1025px) {
    .box-search {
      margin-top: 0; } }

/*
edit container
*/
@media (min-width: 1200px) {
  .col-md-7.col-left {
    width: 66.2%; } }
@media (max-width: 1025px) {
  .col-md-7.col-left {
    margin-top: 11px; } }
@media (max-width: 768px) {
  .col-md-7.col-left {
    margin-top: 0; } }

@media (min-width: 1200px) {
  .col-md-5.col-right {
    width: 33.8%; } }

.popup-help-container .btn-lg.btn-warning {
  padding: 7px 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: none; }

/*
adjust menu dropdown pane-body

*/
.popup-help-active.step06 .dropdown-menu.under-overlay {
  left: 0;
  top: 45px; }
.popup-help-active.step06 .panel-body {
  padding: 12px 10px; }

.nav-pills .user-dropdown.step06 .dropdown-menu {
  left: 0; }
  .nav-pills .user-dropdown.step06 .dropdown-menu .panel-body {
    padding: 10px; }

/*
Adjust support modal (control panel)
*/
.modal.support-modal .modal-content {
  border: none; }
  .modal.support-modal .modal-content .modal-header {
    padding-left: 25px;
    padding-right: 25px; }
    .modal.support-modal .modal-content .modal-header .close {
      border: 1px solid #cfd7de; }
      .modal.support-modal .modal-content .modal-header .close:before, .modal.support-modal .modal-content .modal-header .close:after {
        width: 20px;
        height: 2px;
        background: #414851; }
      .modal.support-modal .modal-content .modal-header .close:hover {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none; }
  .modal.support-modal .modal-content .modal-body {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px; }
    .modal.support-modal .modal-content .modal-body > p {
      font-size: 14px;
      color: #272727; }
    .modal.support-modal .modal-content .modal-body .custom-numeric-list li a {
      text-decoration: none; }

/* popup styles */
.popup-container,
.popup-help-container {
  display: block;
  position: relative; }
  .popup-container.popup-tooltip,
  .popup-help-container.popup-tooltip {
    display: inline-block;
    vertical-align: middle;
    padding-left: 4px; }
    .popup-container.popup-tooltip .popup,
    .popup-help-container.popup-tooltip .popup {
      box-shadow: none;
      top: 50%;
      left: 100%;
      transform: translate(0, -50%);
      text-align: left;
      color: #8d939a;
      white-space: normal;
      font-weight: 400;
      margin: 0 0 0 8px; }
    .popup-container.popup-tooltip .arrow,
    .popup-help-container.popup-tooltip .arrow {
      background: none; }
    .popup-container.popup-tooltip .panel,
    .popup-container.popup-tooltip .panel-heading,
    .popup-container.popup-tooltip .panel-body,
    .popup-help-container.popup-tooltip .panel,
    .popup-help-container.popup-tooltip .panel-heading,
    .popup-help-container.popup-tooltip .panel-body {
      display: block; }
  .popup-container .popup,
  .popup-container .popup-help,
  .popup-help-container .popup,
  .popup-help-container .popup-help {
    display: none;
    position: absolute;
    z-index: 5;
    width: 292px;
    left: 50%;
    transform: translate(-50%, 0); }
  .popup-container .popup,
  .popup-help-container .popup {
    box-shadow: 0 0 10px rgba(125, 131, 133, 0.55);
    border-color: #cdd0d1; }
  @media (min-width: 1025px) {
    .popup-container.app-menu-holder .popup,
    .popup-help-container.app-menu-holder .popup {
      width: 290px; } }

.popup-container.active-popup {
  position: static; }
  .popup-container.active-popup .popup {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 90vw; }

.popup,
.popup-help {
  font-size: 12px;
  line-height: 1.5; }
  .popup .title,
  .popup-help .title {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0; }
  .popup .arrow.arrow-left,
  .popup-help .arrow.arrow-left {
    top: 50%;
    left: -14px;
    transform: rotate(-90deg);
    margin-top: -5px; }
  .popup .opener-popup,
  .popup-help .opener-popup {
    font-size: 16px; }
  .popup .panel,
  .popup-help .panel {
    margin-bottom: 0; }
  .popup .panel-heading,
  .popup .panel-body,
  .popup-help .panel-heading,
  .popup-help .panel-body {
    position: relative;
    z-index: 2; }
  .popup .btn-container,
  .popup-help .btn-container {
    margin: 0; }
  .text-right .popup, .text-right
  .popup-help {
    text-align: left; }
  .popup .scrollable,
  .popup-help .scrollable {
    height: 175px;
    overflow-y: auto;
    margin: 0 -10px;
    padding: 0 10px; }

.popup.settings-block .title {
  margin-bottom: 17px; }

.popup-tooltip .opener-popup {
  font-size: 13px;
  font-weight: 400;
  color: #c1c7cf; }
.popup-tooltip.popup-active .opener-popup {
  color: #ef6a1e; }

.modal-header .close,
.popup .close,
.popup-help .close {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  box-shadow: 0 0 1px #7d8385;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(0, -50%);
  opacity: 1; }
  .modal-header .close:hover,
  .popup .close:hover,
  .popup-help .close:hover {
    box-shadow: 0 0 1px #010202; }
    .modal-header .close:hover:before, .modal-header .close:hover:after,
    .popup .close:hover:before,
    .popup .close:hover:after,
    .popup-help .close:hover:before,
    .popup-help .close:hover:after {
      height: 2px; }
  .modal-header .close:before, .modal-header .close:after,
  .popup .close:before,
  .popup .close:after,
  .popup-help .close:before,
  .popup-help .close:after {
    content: "";
    width: 12px;
    height: 1px;
    background: #414851;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg); }
  .modal-header .close:after,
  .popup .close:after,
  .popup-help .close:after {
    transform: translate(-50%, -50%) rotate(-45deg); }
.modal-header .btn .close,
.popup .btn .close,
.popup-help .btn .close {
  float: none;
  position: relative;
  top: 0;
  right: 0;
  box-shadow: none;
  width: 10px;
  height: 10px;
  margin: 0 3px -1px 0;
  vertical-align: bottom; }

.users-block .close {
  right: 15px; }

@media (min-width: 1200px) {
  .popup .app-menu .panel .panel-body {
    padding-top: 20px;
    padding-bottom: 0; } }

.popup-help-container .popup-help {
  position: absolute;
  top: 0;
  left: 100%;
  margin: 0 0 0 25px;
  width: 290px;
  transform: none; }
.popup-help-container.step02 .popup-help, .popup-help-container.step03 .popup-help, .popup-help-container.step05 .popup-help, .popup-help-container.step06 .popup-help {
  left: auto;
  right: 100%;
  margin: 0 25px 0 0; }
.popup-help-container.step04 .popup-help {
  margin: 5px 0 0 -98px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0); }
.popup-help-container.step04 .arrow {
  left: auto;
  right: 39px; }
.popup-help-container.step07 .popup-help {
  top: -24px;
  text-align: left;
  margin-left: 40px; }

.popup-help {
  display: none; }
  .popup-help .title {
    margin-bottom: 0 !important; }
  .popup-help .panel-body p {
    margin: 0 0 18px; }
  .popup-help .arrow {
    background: none; }
    .popup-help .arrow.arrow-left {
      top: 49px;
      left: -15px; }
    .popup-help .arrow.arrow-right {
      top: 49px;
      left: auto;
      right: -15px;
      transform: rotate(90deg); }

.popup-help-active > .popup-overlay {
  display: block; }
.popup-help-active .under-overlay {
  position: relative;
  z-index: 4; }
.popup-help-active .dropdown-menu.under-overlay,
.popup-help-active .popup.under-overlay {
  position: absolute; }
.popup-help-active .opener-popup,
.popup-help-active .btn-link,
.popup-help-active .btn {
  cursor: default;
  pointer-events: none; }
.popup-help-active .icon {
  fill: #fff; }
.popup-help-active.step01 .popup-help.step01 {
  display: block;
  margin-left: 10px; }
.popup-help-active.step02 .popup-help.step02 {
  display: block; }
.popup-help-active.step03 .popup {
  display: block !important; }
.popup-help-active.step03 .popup-help.step03 {
  display: block; }
.popup-help-active.step04 .popup-help.step04 {
  display: block; }
.popup-help-active.step05 .dropdown-menu {
  display: block !important; }
.popup-help-active.step05 .popup-help.step05 {
  display: block; }
.popup-help-active.step06 .dropdown-menu {
  display: block !important; }
.popup-help-active.step06 .popup-help.step06 {
  display: block; }
.popup-help-active.step07 .popup-help.step07 {
  display: block;
  left: 83%; }
  .popup-help-active.step07 .popup-help.step07 .arrow.arrow-left {
    top: 40px; }

.popup-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
  display: none; }

.popup-search {
  font-size: 14px; }

.popup-hover-container {
  position: relative; }
  .popup-hover-container .popup {
    padding: 16px 0 0;
    display: none;
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    width: 292px; }
  .popup-hover-container .popup-holder {
    box-shadow: 0 0 10px rgba(125, 131, 133, 0.55);
    border-color: #cdd0d1;
    border-radius: 4px; }
  .popup-hover-container .panel .arrow {
    background: url(../images/sprite.png) no-repeat 1px -1px;
    left: 12px; }

.text-right .popup, .text-right
.popup-help, .text-right
.popup-search, .text-right
.modal-content {
  text-align: left; }

.btn-container .btn {
  padding: 2px 3px 0;
  min-width: 22px;
  box-shadow: none;
  border: none; }
.btn-container .btn + .btn {
  margin-left: 2px; }

.popup-categories .popup {
  width: 297px;
  left: auto;
  right: -4px;
  transform: none;
  margin: 9px 0 0;
  border-radius: 4px; }
  .popup-categories .popup .arrow {
    left: auto;
    right: 23px; }
.popup-categories .btn-group {
  padding: 4px 2px 0;
  border: 1px solid #cfd7de;
  margin-bottom: 8px; }
  .popup-categories .btn-group .btn-sm {
    font-size: 14px; }
  .popup-categories .btn-group .btn {
    border-radius: 0;
    margin: 0 2px 4px;
    padding: 1px 4px 0 5px; }
    .popup-categories .btn-group .btn .close {
      margin-top: -1px;
      margin-bottom: 1px; }
.popup-categories .popup .panel .panel-body {
  padding: 8px 7px; }

.popup-opener {
  outline: none; }
  .popup-opener:hover, .popup-opener:focus, .popup-opener:active {
    background: none !important;
    outline: none; }
  .popup-opener:hover .icon {
    fill: #515151; }

/* --------------------------------
  3. Custom form styles
----------------------------------*/
/* custom checkbox and radio styles */
.custom-form .radio label, .custom-form
.checkbox label {
  padding-left: 0; }

.custom-form [type="checkbox"],
.custom-form [type="radio"] {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1; }
.custom-form .fake-input {
  display: inline-block;
  background: #fff;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  margin-right: 5px; }

.custom-form [type="radio"]:checked + .fake-input,
.custom-form [type="checkbox"]:checked + .fake-input {
  border-color: #ef6a1e; }
  .custom-form [type="radio"]:checked + .fake-input:before,
  .custom-form [type="checkbox"]:checked + .fake-input:before {
    opacity: 1; }

.custom-form input:disabled + .fake-input,
.custom-form input:disabled ~ .fake-label {
  opacity: .5; }

/* custom checkbox styles */
.custom-form [type="checkbox"] + .fake-input {
  width: 16px;
  height: 16px;
  border: 1px solid #a4abb2;
  border-radius: 3px; }

.custom-form [type="checkbox"] + .fake-input:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  opacity: 0;
  background: #ef6a1e; }

/* custom radio styles */
.custom-form [type="radio"] + .fake-input {
  width: 19px;
  height: 19px;
  border: 2px solid #cdd0d1; }

.custom-form [type=radio] + .fake-input {
  border-radius: 50%; }

.custom-form [type="radio"] + .fake-input:before {
  content: '';
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  background: #ef6a1e;
  border-radius: 50%;
  opacity: 0; }

/* custom select styles */
.fake-select {
  position: relative;
  display: inline-block; }
  .fake-select select::-ms-expand {
    display: none; }
  .fake-select select {
    display: inline-block;
    margin: 0;
    font: inherit;
    outline: none;
    appearance: none;
    position: relative; }
  .fake-select:after, .fake-select:before {
    content: "";
    position: absolute;
    pointer-events: none;
    z-index: 2; }
  .fake-select:before {
    top: 0;
    right: 0;
    bottom: 0;
    width: 28px;
    border: solid #cfd7de;
    border-width: 1px 1px 1px 0;
    background: #fff;
    border-radius: 0 4px 4px 0; }
  .fake-select:after {
    right: 12px;
    width: 6px;
    height: 12px;
    top: 50%;
    transform: translate(0, -50%);
    background: url(../images/sprite.svg) no-repeat;
    line-height: 0; }

.fake-select-holder {
  margin: 0 0 29px; }
  .fake-select-holder .input-group-addon {
    border: none;
    background: none;
    padding: 0; }
  .fake-select-holder .fake-select {
    width: 124px; }
    .fake-select-holder .fake-select .form-control {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      background-color: #f2f4f4;
      color: #414851;
      width: 100%; }
  .fake-select-holder .input-control {
    border-left: none; }

/*# sourceMappingURL=main.css.map */
